beautifulsoup4==4.4.1
click==6.6
Flask==0.11.1
Flask-SSE==0.2.1
Flask-WTF==0.13.1
googlemaps==2.4.4
gunicorn==19.6.0
imageio==1.6
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
numpy==1.11.0
opencv-python==3.4.0.12
psycopg2==2.6.2
redis==2.10.5
requests==2.10.0
six==1.10.0
virtualenv==15.0.3
Werkzeug==0.15.3
WTForms==2.1
