*{
    padding:0;
    margin:0;
}

body{
    font-family: Lato, sans-serif;
    line-height:1.6em;
    color: #2d2d2d;
    font-size:14px;
    background-color: #0d5e93;
}

a{
    color:#333;
    text-decorations:none;
}

h1{
    color:#ecf0f1;
    font-weight:300;
}

h2{
    color:#ecf0f1;
    font-weight:300;
}

h3{
    color:#ecf0f1;
    font-weight:300;
}

.input-lg{
    border:1px solid #bdc3c7
}

.panel{
    border-radius:8px;
    background-color:#34495ee6;
}

.navbar-default{
    background-color: #2980b9;
    border-color: #1177ba;
}



.material-icons:hover{
    font-size:45px
}

.material-icons{
    font-size:38px;
    cursor:default;
}


#autoSwitch{
    float: right; !important
    display: inline;
}

.progress {
    height: 5px;
    border-radius: 10px;
    margin-bottom: 0px;
    margin-top: 4px;
    margin-left:5px;
    margin-right:5px;
}

.progress-bar{
    height: 5px;
    border-radius: 10px;
    margin-bottom: 0px;
    margin-top: 4px;
    margin-left:5px;
    margin-right:5px;
}

#container{
    width:740px;
    background:#fff;
    margin:auto;
}

#results li{
	padding:10px 0;
    border-bottom: 1px #2c3e50 solid;
	list-style:none;
	overflow:auto;
}

#results li p{
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-left{
	float:left;
	width:20%;
}

.list-left img{
	width:100%;
	padding:3px;
	border:solid #ccc 1px:
}

.list-right{
	float:right;
	width:90%;
}

#query{
    width:100%;
    background-color: #2c3e50;
    border-color: #2c3e50;
}

#search-btn{
    background: transparent;
    width: 0px;
    border: none !important;
    font-size:0;
}

.search-list:hover{
    background: #cccccc;
 }

.playerPanel{
    background-color: #34495e;
    border-color: #2c3e50;
    color: #ecf0f1;
}

#playlist{
    height:300px;
    overflow-y: auto;
}



#playlist li p,i {
    display: inline;
    max-width: 40%
    white-space: nowrap;
    overflow:hidden;
}
#playlist li{
    overflow: hidden;
	list-style:none;
}

.list-group-item{
    border: 0px;
    border-bottom: 1px #2c3e50 solid;
    margin-bottom: 0px;
    background-color: #34495e;
}

.list-group-item.active{
    background-color: #2c3e50;
    border: 0px #2c3e50 solid;
}


.panel-default.playerPanel> .panel-heading.playerPanel{
    background-color: #34495e;
    border-color: #2c3e50;
    color: #ecf0f1;
}

#songTitle{
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#clear {
    float: right;

}

#playPlaylist{
    float: left;
}

#songDuration{
    float: right;
    width: 10%
}


.moveSong{
    float: right;
}

#playbackControl{
  width: 100%;
  text-align: center;
}

#playback-wrapper{
  display: inline-block;
}


.ui-menu-item{
    font-size:17px;
}

.ui-menu-item .ui-menu-item-wrapper{
    height:35px;
}


#headline{
    margin-bottom: 25px;
}

#showCreate{
    width:130px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#showJoin{
    width:130px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#buttonContainer{
    text-align: center;
}
.indexField{
    text-align:center;
    margin-top: 8px;
    margin-bottom: 10px;
}

#indexNav{
    margin-bottom: 0px;
}

.indexButton{
    width: 260px;
    margin-top: 8px;
    background-color: #2980b9;
}

#indexField{
    width: 260px;
}

#indexContainer{
    width: 300px;
    text-aling: center;
    position: fixed;
    left: 50%;
    margin-left: -150px;
}

.indexPararaph{
    text-align: center;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
}

.indexPanel{
    background-color:#edeff1;

}