<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>


	<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Jukebox</a>
            </div>
         </div>
    </nav>

    		        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
		            <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong> {{ message }}
                    </div>
		                    {% endfor %}
                        {% endif %}
                    {% endwith %}


    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-6">
                <h1 style="text-align: center;">Create a jukebox</h1>
                <p style="text-align: center;"> Transform your device in a jukebox. Create a playlist and let your friends connect to it. They can add songs from their mobile </p>
		        <form action="" method="POST">
		            {{ formCreatePlaylist.hidden_tag() }}
                    {{ formCreatePlaylist.jukeName(class="input-lg") }}
                    {{ formCreatePlaylist.createButton() }}


                </form>
            </div>

            <div class="col-sm-6">
            	<h1 style="text-align: center;">Connect yourself to a jukebox</h1>
            	<p style="text-align: center;"> Want to add songs to a jukebox? Just type the juke's name and connect to it from your device</p>
		        <form action="" method="POST">
                 <!--   <input type="text" name="jukeName" class="input-lg"> -->
                    {{ formRemote.hidden_tag() }}
                    {{ formRemote.jukeName2(class="input-lg") }}
                    {{ formRemote.remoteButton() }}

                </form>
            </div>
        </div>

    </div>
	</body>

</html>