<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/bootstrap-switch.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" type="text/css" />
        <link rel="stylesheet" href="static/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://www.youtube.com/iframe_api"></script>
        <script src="static/bootstrap-switch.min.js"></script>
        <script src="static/remoteScript.js"></script>
        <script src="static/analytics.js"></script>
    </head>

	<body>

		 <title>Vitrola</title>
	    <meta name=”description” content=”Create a jukebox and build a playlist. Use any device to add more songs. Absolutly free, no registration required.” />

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h4 id="jukename" name="jukename">{{ jukename }}</h4>
                </div>
             </div>
        </nav>

        <div class="row-fluid">
            <div class="col-sm-8  container-fluid">


                 <div id="playerCollapse" class="collapse in">
                     <div id="playbackControl" class="panel panel-default playerPanel">
                         <div id="playback-wrapper">
                            <i id="skipPrevious" class = "material-icons control">skip_previous</i>
                            <i id="skipNext" class = "material-icons control">skip_next</i>
                            <img id="loadingImg" src="static/loading.svg">
                         </div>
                     </div>


                 </div>



                   <div id="containerPlaylist" class = "panel panel-default playerPanel">
                       <div class="panel-heading playerPanel">Playlist</div>
                       <ul id="playlist" class="list-group"></ul>
                       <div class="panel-body" id="instructions">
                           <p style="text-align: center">
                               <span style="font-weight: bold">You don't have any songs yet</span> </br>
                               Use the search bar to add some tunes
                           </p>
                       </div>
                   </div>
            </div>

            <div class="col-sm-4 container-fluid">
                    <div id="searchContainer" class="panel panel-default playerPanel">
                         <div class="panel-heading playerPanel">
                            <form id="search-form" name="search-form"  method="POST">
                            <div class="fieldcontainer">
                               <input type="search" id="query" class="input-lg" placeholder="Search">
                                <input type="submit" name="search-btn" id="search-btn" placeholder="Search...">
                            </div>
                            </form>
                           </div>
                         <ul id="results"></ul>
                    </div>
            </div>
        </div>

  </body>
</html>